body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
}

header {
    background-color: rgb(20, 218, 218);
    color: rgba(17, 16, 16, 0.822);
    margin-top: 30px;
    padding: 10px;
    text-align: center;
}

button, input {
    display: block;
    margin-top: 10px 0;
    
}

table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 10px;
}

th {
    background-color: rgb(20, 218, 218);
}
table, td, th {
    border: 1px solid black;
    padding: 5px;
text-align: left;

}
footer {
    margin-top: 20px;
    text-align: center;
}